{% extends 'base.html.twig' %}

{% block title %}Site articles - List all articles{% endblock %}

{% block body %}
    <ul>
    {% for article in articles %}
        <li>
            <h3>
                <a href ="{{ path('articles_get_article', {'categoryId': article.category_id, 'articleId': article.id}) }}">{{ article.title }}</a>
            </h3>
        </li>
        <li><h5>{{ article.date }}</h5></li>
        <li><p>{{ article.text }}</p></li>
    {% endfor %}
    </ul>

{% endblock %}
